body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: white;
}

.navbar {
    padding: 5px;
    font-weight: bold;
}

.btn-stndrd {
    background-color: #197056;
    border: 1px solid #197056;
    color: white;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    border-radius: 0;
    width: 90px;
    margin: 3px;
}

.btn-stndrd:hover {
    background-color: transparent;
    color: #197056;
    border: 1px solid #197056;
    transition: ease-in-out;
}

.d-loginSignUp-btn {
    padding: 12px 0px;
}

.btn {
    text-align: center;

}

.waves-effect {
    overflow: hidden;
}

.style-marquee {
    background-color: #197056;
}