@{
    ViewBag.Title = "SignIn";
}

<div class="d-flex justify-content-center align-items-baseline" style="margin-top:100px; margin-bottom:300px;">
    <div class="card shadow-sm col-3" style="border: 1px solid green; border-radius: 10px; height:350px">
        <div class="card-body p-4" >
            <h3 class="card-title text-center" style="color: green; margin:20px;">Login</h3>
            <form id="loginForm" method="post">
                <div asp-validation-summary="All" class="text-danger mb-3"></div>
                <div class="form-group"  style="color: green; margin:20px;">
                    <input id="Email" class="form-control" placeholder="Enter your email" />
                </div>
                <div class="form-group"  style="color: green; margin:20px;">
                    <input id="Password"  type="password" class="form-control" placeholder="Enter your password" />
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <button type="submit" class="btn btn-stndrd d-loginSignUp-btn waves-effect waves-light">Login</button>
                </div>
                <div class="text-center">
                    <span style="color: #2c3e50;">Not registered?&nbsp;</span> <a style="color: green;" asp-controller="Account" asp-action="SignUp">Click here to register!</a>
                </div>
            </form>
        </div>
    </div>
</div>




