<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>@ViewData["Title"]</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" ><img src="~/images/ePocket_logo.png" height="30" width="30"/>ePocket</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="About" asp-controller="Home">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Contact" asp-controller="Home">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-stndrd d-loginSignUp-btn waves-effect waves-light" asp-action="Login" asp-controller="Account">Login</a>
                </li>
                <li class="nav-btn">
                    <a class="btn btn-stndrd d-loginSignUp-btn waves-effect waves-light" asp-action="SignUp" asp-controller="Account">SignUp</a>
                </li>
            </ul>
        </div>
    </nav>
    <marquee class="style-marquee"><img src="~/images/ePocket_logo.png" style="height:15px; margin-bottom:3px"/>ePocket, Welcome to the digital world!</marquee>
    <div>
        @RenderBody()
        <hr style="background-color: green;"/>
        <footer style="color:black; text-align:center">
            <p>CopyRights 2024 ePocket</p>
        </footer>
    </div>
</body>
</html>
